.main {

  &__form {
    display: grid;
    justify-items: center;

    & form {
      width: 90%;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 40px;
      grid-template-rows: 1fr 1fr;
      justify-items: stretch;
    }
  }

  &__input1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    margin-right: 10px;

    & input {
      width: 100%;
      border-radius: 3px;
    }
  }
  &__input2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(3, 50px) 1fr;
    margin-right: 10px;

    input[type="radio"] {
      display: none;

      + label {

        span {
          display: inline-block;
          width: 35px;
          height: 35px;
          cursor: pointer;
          border-radius: 50%;
          border: 2px solid #FFFFFF;
          line-height: 35px;

          img {
            opacity: 0;
            transition: all .3s ease;
          }
        }
      }

      &#red + label span {
        background-color: $color-red;
      }

      &#orange + label span {
        background-color: $color-orange;
      }

      &#green + label span {
        background-color: $color-green;
      }

      &:checked + label span img {
        opacity: 1;
      }
    }

    & input[type=date] {
      border-radius: 3px;
    }
  }
  &__button {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;

    & button {
      height: 100%;
      width: 100%;
      border-radius: 3px;
      background-color: $text-color2;
    }
    & button:hover {
      background-color: $background-color2;
    }
  }

  &__validation {
    text-align: center;
    color: red;
    height: 30px;
  }

  &__task {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  &__list {
    width: 90%;
    justify-self: center;
  }

  &__item {
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    grid-template-rows: 1fr;

    & span:first-child {
      justify-self: center;
      align-self: center;
    }
    & span:nth-child(2) {
      justify-self: start;
      align-self: center;
      padding-left: 5px;
      font-size: .8rem;
    }
    & span:nth-child(3) {
      justify-self: end;
      align-self: center;
      padding-right: 5px;
      font-size: .8rem;
    }
    & span:last-child {
      justify-self: center;
      align-self: center;
    }
  }

  &__color-red {
    background-color: $color-red;
  }
  &__color-orange {
    background-color: $color-orange;
  }
  &__color-green {
    background-color: $color-green;
  }
}

@include tablet {
  .main {

    &__form {
      & form {
        width: 60%;
        margin: 0 20%;
      }
    }

    &__list {
      width: 60%;
    }

    &__item {

      & span:nth-child(2) {
        padding-left: 20px;
        font-size: 1rem;
      }
      & span:nth-child(3) {
        padding-right: 20px;
        font-size: 1rem;
      }
    }
  }
}
