extends ../templates/template

block header
    include ../includes/header

block main
    include ../includes/main-form
    include ../includes/main-task

block footer
    include ../includes/footer
